@import 'variables';
@import 'layout';

// Global styles
a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted transparent;

  &:hover, &:focus {
    border-bottom: 1px dotted;
  }
}

button, %button {
  color: $white;
  background-color: $blue;
  border: 1px solid;

  &:hover, &:focus {
    color: $blue;
    background-color: $white;
    border: 1px solid;
  }

  &[disabled], &.disabled {
    opacity: 0.5;
    color: $white;
    background-color: $black;

    &:hover, &:focus {
      color: $white;
      background-color: $black;
    }
  }

  &.inverted {
    color: $blue;
    background-color: $white;

    &:hover, &:focus {
      color: $white;
      background-color: $blue;
    }
  }
}

%button-round {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  text-align: center;
  font-weight: 700;
}

.button-square, %button-square {
  @extend %button;
  padding: $padding-sm $padding-md;
}

// Misc overwrites

// LOGO
.site-branding {
  display: inline-block;
  max-width: 160px;
}

a.custom-logo-link {
  &:hover {
    border-bottom-color: transparent;
  }

  &:focus {
    border: 1px dotted;
  }
}


// Component and page imports
@import 'components/_all';
@import 'pages/_all';
