@import 'variables';
@import 'layout';

// Global styles
a {
  border-bottom: 1px dotted transparent;

  &:hover, &:focus {
    border-bottom: 1px dotted;
  }
}

button, %button {
  background-color: $blue;
  color: $white;
  border: 1px solid;

  &:hover, &:focus {
    color: $blue;
    background-color: $white;
  }
}

%button-round {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  text-align: center;
  font-weight: 700;
}

// Misc overwrites

// LOGO
.site-branding {
  display: inline-block;
  max-width: 160px;
}

a.custom-logo-link {
  &:hover {
    border-bottom-color: transparent;
  }

  &:focus {
    border: 1px dotted;
  }
}


// Component and page imports
@import 'components/_all';
@import 'pages/_all';
