.responsive {
  vertical-align: top;
  display: inline-block;

  &.half {
    width: calc(49.9% - #{$padding-sm});

    &:first-of-type {
      margin-right: $padding-sm;
    }

    &:last-of-type {
      margin-left: $padding-sm;
    }
  }

  &.third {
    width: calc(33.3% - #{$padding-sm});
    margin-left: $padding-xs;
    margin-right: $padding-xs;

    &:first-of-type {
      margin-left: 0;
      margin-right: $padding-sm;
    }

    &:last-of-type {
      margin-left: $padding-sm;
      margin-right: 0;
    }
  }

  // @media all and (max-width: $tablet) {
  //
  // }
}

.bg-dark {
  color: $white;
  background-color: $black;
}

.bg-accent {
  background-color: $teal;
}

section {
  padding: $padding-md;
}

.card {
  border: 1px solid;
  padding: $padding-md;
  border-radius: $corners;
}
