.responsive {
  vertical-align: top;
  display: inline-block;

  &.half { width: 50%; }
  &.third { width: 33.3%; }

  // @media all and (max-width: $tablet) {
  //
  // }
}

.bg-dark {
  color: $white;
  background-color: $black;
}

.bg-accent {
  background-color: $teal;
}

section {
  padding: $padding-md;
}

.card {
  border: 1px solid $yellow;
  padding: $padding-md;
  border-radius: $corners;
}
