$menu-height-full: 100px;
$menu-height-reduced: 56px;

.hidden {
  opacity: 0;
}

.removed {
  display: none;
}

.responsive {
  vertical-align: top;
  display: inline-block;

  &.half {
    width: 50%;
  }

  &.third {
    width: 33.3%;
    &:last-of-type {
      width: 33.4%;
    }
  }

  &.quarter {
    width: 25%;
    margin-left: $padding-xs;
    margin-right: $padding-xs;
  }

  &:first-of-type {
    // margin-left: 0;
    // margin-right: $padding-sm;
  }

  &:last-of-type {
    // margin-left: $padding-sm;
    // margin-right: 0;
  }

  // @media all and (max-width: $tablet) {
  //
  // }
}

.bg-dark {
  color: $white;
  background-color: $black;
}

.bg-accent {
  background-color: $teal;
}

section {
  padding: $padding-md;
}

.card {
  display: inline-block;
  padding: $padding-lg;
  color: inherit;
}
a.card {
  color: inherit;

  &:hover, &:focus {
    color: inherit;
    border: 0;
  }
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin max-width() {
  max-width: 1200px;
  
  @media all and (min-width: $break-max) {
    left: 50%;
    margin-left: -600px;
  }
}