// Spacing
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 32px;
$padding-xl: 48px;

$break-tablet: 768px;
$break-max: 1200px;
$corner: 8px;

// Colours
$black: #000000;
$white: #ffffff;
$grey: #dddddd;
$overlay: rgba($black, 0.7);

$blue: #005dab;
$teal: #70a6bd;
$accent: #ff527d;

// Effects
$transition: 250ms;
$shadow: 2px 2px 0px $black;
$opacity: 0.9;

// Various mixins
@mixin box-shadow() {
  box-shadow: $shadow;
}

@mixin pseudo() {
  content: ' ';
  position: absolute;
}

@mixin overlay() {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -0;
}

@mixin double-underline() {
  &::before, &::after {
    @include pseudo;
    top: 100%;
    left: 50%;
    height: 2px;
    background-color: $accent;
  }
  &::before {
    width: 80px;
    margin-left: -40px;
    margin-top: $padding-sm;
  }
  &::after {
    margin-top: $padding-md;
    width: 40px;
    margin-left: -20px;
  }
}

*::selection, *::-moz-selection {
  background-color: $accent;
}
