// Spacing
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 32px;

$break-tablet: 768px;
$corners: 8px;

// Colours
$black: #000000;
$white: #ffffff;
$blue: #005dab;
$teal: #70a6bd;
$yellow: #fff530;

// Font & text
$headline: 24px;
$title: 20px;
$paragraph: 16px;

%headline {
  font-size: $headline;
  font-weight: 600;
  text-transform: uppercase;
}

*::selection, *::-moz-selection {
  background-color: $yellow;
}
