.card {
    position: relative;
    text-align: center;

    * {
        z-index: 1;
    }

    .card-title {
        margin-top: $padding-md;
        text-align: center;
    }

    h4 {
        @extend %title;
        display: inline-block;
        position: relative;
        padding-bottom: $padding-md;
    }

    p, ul {
        position: relative;
        font-size: $title;
    }
}

a.card {
    transition: background-color $transition;

    &:hover, &:focus {
        background-color: $teal;
    }
}

.card-container {
    display: flex;

    @media all and (max-width: $tablet) {
        display: block;
    }
}