footer {
  position: relative;
  display: flex;
  align-items: center;
  color: $white;
  background-color: $blue;
  padding: $padding-md;

  .logo {
    width: 144px;
    vertical-align: top;
  }

  .address {
    display: inline-block;
    vertical-align: top;
    margin-left: $padding-md;
  }

  .responsive.contacts-container {
    text-align: right;
    vertical-align: middle;

    a {
      margin: 0 $padding-sm;
      vertical-align: middle;
    }

    .donation-button {
      @extend %button-square;
      @include text-shadow-light;
      background-color: $accent;
    }
  }
}
