footer {
  position: relative;
  display: flex;
  align-items: center;
  color: $white;
  background-color: $blue;
  padding: $padding-md;

  .logo {
    width: 120px;
    vertical-align: middle;
  }

  .address {
    display: inline-block;
    vertical-align: middle;
    margin-left: $padding-md;
    font-size: $small-text;
  }


  .right-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
    justify-content: center;

    .contact-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .copyright {
      margin-top: $padding-md;
    }
  }

  a {
    display: flex;
    align-items: center;
    margin: 0 $padding-sm;
    vertical-align: middle;
  }

  .donation-button {
    @extend %button-square;
    @include text-shadow-light;
    background-color: $accent;
  }

  @media all and (max-width: $break-tablet) {
    display: block;
    text-align: center;

    .contact-container {
      margin-top: $padding-lg;
    }
  }
}
