#masthead {
  position: fixed;
  vertical-align: middle;
  padding: $padding-md;
  width: 100%;
  z-index: 90;
  transition: background-color $transition, padding $transition;

  a {
    @include text-shadow-light;
    color: $white;
    font-weight: $semibold;
  }

  // LOGO
  .site-branding {
    display: inline-block;
    height: $menu-height-full;
    width: auto;
    transition: height $transition;

    a {
      height: 100%;
      width: auto;

      img {
        max-height: 100%;
        width: auto;
      }
    }

    @media all and (max-width: $break-phone) {
      height: 64px;
    }
  }

  // TOP MENU
  // collapses on mobile
  .main-navigation {
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-left: auto;
    margin-top: $padding-md;
    transition: margin-top $transition;

    // Menu button (tablet and smaller)
    .menu-toggle {
      border: 1px solid $white;
    }

    // The menu options themselves
    #primary-menu {
      position: relative;

      @media screen and (max-width: $break-tablet) {
        position: absolute;
        margin-right: $padding-md;
        right: 0;
        text-align: right;
      }

      // Individual menu option
      .menu-item {
        display: inline-block;
        float: none;
        margin-left: $padding-md;

        @media screen and (max-width: $break-tablet) {
          display: block;
          margin-left: 0;
        }
      }

      // Submenus
      .menu-item-has-children {
        .sub-menu {
          background-color: $white;

          .menu-item {
            margin: 0;
            padding: $padding-sm $padding-md;

            a {
              display: inline-block;
              color: $blue;
              width: auto;
              text-shadow: none;
            }
          }
        }

        .children {
          @media screen and (max-width: $break-tablet) {
            position: relative;
            left: auto;
            z-index: auto;
            float: none;
            // margin-left: $padding-sm;
            // padding-left: $padding-sm;
            // border-left: 1px solid;
            box-shadow: none;
          }
        }
      }

      // Donate button
      > .menu-item:last-of-type a {
        @extend %button-square;
        @include text-shadow-light;
        background-color: $accent;
      }
    }
  }

  // AFTER SCROLLED
  &.scrolled {
    background-color: $blue;
    padding: $padding-sm $padding-md;

    a, a:hover {
      text-shadow: none;
    }

    .site-branding {
      height: $menu-height-reduced;
      width: auto;
  
      a {
        height: 100%;
        width: auto;
        text-shadow: initial;
  
        img {
          max-height: 100%;
          width: auto;
        }
      }

      @media all and (max-width: $break-phone) {
        height: $menu-height-mobile;
      }
    }

    .main-navigation {
      margin-top: $padding-sm;
    }
  }

  // MOBILE
  // Break point for tablet is also break point for "Menu" button
  @media all and (max-width: $break-tablet) {
    .main-navigation.toggled {
      .sub-menu {
        position: relative;
        left: auto;
        top: auto;
        z-index: initial;
      }

      #primary-menu {
        margin-top: 12px;
        margin-right: 0;
        padding-right: $padding-md;

        .menu-item {
          margin: $padding-sm 0;
          padding: $padding-sm;

          a {
            display: inline-block;
          }
        }
        
        .menu-item-has-children {
          margin: 0; padding: 0;

          > a {
            display: none;
          }
        }

        .sub-menu {
          background-color: transparent;
          box-shadow: none;
          float: none;
          // padding-right: $padding-md;
          // margin-right: $padding-sm;
          // border-right: 1px solid $white;

          .menu-item {
            margin: $padding-sm 0;
            padding: $padding-sm;

            a {
              @include text-shadow-light;
              color: $white;
            }
          }
        }
      }
    }

    &.scrolled {
      .main-navigation.toggled {

        #primary-menu {
          width: 100%;
          background-color: $blue;

          .sub-menu {
            .menu-item {
              a {
                text-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
