.page-headline {
    position: relative;
    height: 480px;
    padding: $padding-lg;
    background-position: center;
    background-size: cover;

    &::before {
        @include pseudo;
        @include overlay;
        background-color: $black;
        opacity: 0.7;
    }

    .headline {
        position: absolute;
        bottom: $padding-lg;
        left: $padding-lg;
        margin-right: $padding-lg;
        @include max-width;

        h2 {
            display: inline-block;
            font-size: $attention;
            color: $white;
            padding-bottom: $padding-lg;
            border-bottom: 4px solid $accent;
            line-height: 1em;

            @media all and (min-width: $break-max) {
                margin-left: $padding-lg;
            }
        }
    }
}