.slideshow {
  position: relative;
  width: 100%;
  height: 66vw;
  max-height: 600px;
  overflow: hidden;

  .entry {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 600ms, right 600ms;
    background-color: $black;

    &.left {
      left: -100%;
    }

    &.right {
      left: 100%;
    }

    &.active {
      left: 0;
    }

    // Just image
    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    // Video in a popup
    // Image preview (`video_thumbnail`) behaves the same as image entry
    .video-thumbnail {
      position: relative;

      button {
        @include box-shadow;
        @include text-shadow;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -40px;
        margin-left: -40px;
        border: 4px solid $white;
      }
    }

    .video-container {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: opacity $transition, z-index $transition linear $transition;
      
      &.show {
        opacity: 1;
        z-index: 100;
        transition: opacity $transition;
      }

      .video-overlay {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: $black;
        opacity: $opacity;

        button {
          position: absolute;
          top: $padding-md;
          right: $padding-md;
          font-size: $attention;
        }
      }
    }
  }

  .caption {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;

    padding: $padding-sm 25% $padding-sm $padding-md;
    background-color: $overlay;
    color: $white;
  }

  .slideshow-control {
    @include text-shadow;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    font-size: $headline;

    &:hover, &:focus {

    }

    &#slide-left {
      left: $padding-md;
    }

    &#slide-right {
      right: $padding-md;
    }
  }

  #slideshow-index {
    position: absolute;
    right: $padding-md;
    bottom: $padding-md;
    text-align: center;

    .slideshow-index {
      width: 16px;
      height: 16px;
      margin: 0 $padding-xs;

      &:first-of-type, &:last-of-type {
        margin: 0;
      }
    }
  }
}
