.slideshow {
  position: relative;
  width: 100%;
  height: 80vh;
  min-height: 600px;
  overflow: hidden;

  @media all and (max-width: $break-tablet) {
    min-height: 480px;
  }

  .entry {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 600ms;
    background-color: $black;

    &.left {
      left: -100%;
    }

    &.right {
      left: 100%;
    }

    &.active {
      left: 0;
    }

    // Just image
    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      // filter: grayscale(50%);
      // -webkit-filter: grayscale(50%);
    }

    // Video in a popup
    // Image preview (`video_thumbnail`) behaves the same as image entry
    .video-thumbnail {
      position: relative;

      .video-play {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -40px;
        margin-left: -40px;
        border: 5px solid;

        &:hover {
          // background-color: $white;
          // color: $blue;
          border-color: $teal;
        }
      }
    }

    .video-container {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: opacity $transition, z-index $transition linear $transition;
      
      &.show {
        opacity: 1;
        z-index: 100;
        transition: opacity $transition;
      }

      .close {
        position: fixed;
        top: $padding-md;
        right: $padding-md;

        img {
          max-width: 48px;
          max-height: 48px;
        }
      }

      .video-overlay {
        position: relative;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $black;
        opacity: $opacity;
      }
    }
  }

  .caption {
    @include text-shadow;
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: $padding-lg;
    bottom: 10%;
    width: 50%;
    padding-right: 72px;
    color: $white;
    font-size: $headline;
    font-weight: $bold;
    line-height: 1.2em;

    @media all and (max-width: $break-phone) {
      font-size: $title;
      width: 100%;
      padding-right: $padding-lg;
      margin-bottom: $padding-sm;
    }

    a {
      color: $white;

      &:hover {
        border-bottom: 1px dotted transparent;
      }
    }
  }

  .slideshow-control {
    @include text-shadow;
    position: absolute;
    bottom: $padding-md;
    font-size: $headline;
    transition: opacity $transition;

    &#slide-left {
      left: $padding-md;
    }

    &#slide-right {
      right: $padding-md;
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  #slideshow-index {
    position: absolute;
    left: 50%;
    bottom: $padding-md;
    text-align: center;
    height: 48px;

    .slideshow-index {
      width: 16px;
      height: 16px;
      margin: 0 $padding-xs;

      &:first-of-type, &:last-of-type {
        margin: 0;
      }
    }
  }
}
