button, %button, input[type="button"] {
  color: $white;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding: $padding-sm $padding-md;
  font-weight: 600;

  &:hover, &:focus {
    color: $blue;
    background-color: $white;
    // border: 1px solid;
  }

  &[disabled], &.disabled {
    opacity: 0.5;
    color: $white;
    background-color: $black;

    &:hover, &:focus {
      color: $white;
      background-color: $black;
    }
  }

  &.inverted {
    color: $white;
    background-color: transparent;

    &:hover, &:focus {
      color: $blue;
      background-color: $white;
    }
  }
}

%button-round, .button-round {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  font-weight: 700;
  padding: 0;
  background-color: $blue;
}

.button-square, %button-square {
  @extend %button;
  padding: $padding-sm $padding-md;
  background-color: $blue;
  border: 1px solid;
}
