form {
  display: flex;
  height: 48px;

  input[type="text"] {
    padding-right: $padding-md;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $blue;
    width: 100%;
  }

  button {
    margin-left: $padding-sm;
    min-width: 120px;
  }
}
