// Font & text
$headline: 24px;
$title: 20px;
$paragraph: 16px;

%headline {
  font-size: $headline;
  font-weight: 600;
}

h4 {
  @extend %headline;
  display: inline-block;
  border-left: 8px solid $yellow;
  padding-left: $padding-md;
}
