// Font & text
$attention: 48px;
$headline: 36px;
$title: 24px;
$paragraph: 18px;

// Weights
$regular: 400;
$semibold: 600;
$bold: 900;

%headline, .headline {
  font-size: $headline;
}

%title, .title {
  font-size: $title;
  font-weight: $bold;
  line-height: 1em;
  text-transform: uppercase;
}

blockquote {
  font-size: $title;
  font-style: italic;
  margin: $padding-xl;
  padding-left: $padding-lg;
  border-left: 4px solid $accent;

  @media all and (max-width: $break-tablet) {
    margin: $padding-lg;
    padding-left: $padding-md;
  }
}

// Text effects
@mixin text-shadow() {
  text-shadow: $shadow;
}