// Font & text
$attention: 48px;
$headline: 36px;
$title: 24px;
$paragraph: 18px;

// Weights
$regular: 400;
$semibold: 600;
$bold: 900;

%headline, .headline {
  font-size: $headline;
}

%title, .title {
  font-size: $title;
  font-weight: $bold;
  line-height: 1em;
  text-transform: uppercase;
}

h4 {
  @extend %title;
  display: inline-block;
}

// Text effects
@mixin text-shadow() {
  text-shadow: $shadow;
}