body.page-id-7 {
    .person {
        position: relative;
        vertical-align: top;
        display: inline-block;
        margin-right: $padding-md;
        margin-bottom: $padding-md;
        overflow: hidden;

        .portrait {
            position: relative;
            display: inline-block;
            border-radius: $corner;
            
            $portrait-size: 240px;
            min-width: $portrait-size;
            width: $portrait-size;
            min-height: $portrait-size;
            height: $portrait-size;
            border-radius: $corner;
            
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &.default {
                background-color: $blue;
                background-size: 75%;
            }

            // overlay to make text more legible
            &::before {
                @include pseudo;
                @include overlay;
                background-color: $black;
                opacity: 0;
                transition: opacity $transition;
            }
        }

        .person-text {
            position: absolute;
            bottom: $padding-md;
            left: $padding-md;
            color: $white;
            opacity: 0;
            transition: opacity $transition;

            .name {
                font-weight: $semibold;
            }

            .position {
                text-transform: uppercase;
                font-size: $small-text;
            }
        }
    
        &:hover {
            .portrait::before {
                opacity: 0.7;
            }
            
            .person-text {
                opacity: 1;
            }
        }

        @media all and (max-width: $break-tablet) {
            &:hover {
                .portrait::before {
                    display: none;
                }
            }

            .person-text {
                position: relative;
                bottom: auto;
                left: auto;
                margin-top: $padding-sm;
                color: $black;
                opacity: 1;
            }
        }
    }

    .partner {
        display: inline-block;
        margin: $padding-md 0 $padding-lg;
        text-align: center;
        vertical-align: middle;

        .logo {
            vertical-align: middle;
            max-width: 50%;
        }

        .name {
            margin-top: $padding-md;
        }
    }
}