body.page-id-7 {
    .person {
        position: relative;
        display: inline-block;
        margin-right: $padding-md;
        margin-bottom: $padding-md;
        border-radius: $corner;
        overflow: hidden;

        .portrait {
            display: inline-block;
            vertical-align: middle;
            
            $portrait-size: 240px;
            min-width: $portrait-size;
            width: $portrait-size;
            min-height: $portrait-size;
            height: $portrait-size;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &.default {
                background-color: $blue;
                background-size: 75%;
            }
        }

        // overlay to make text more legible
        &::before {
            @include pseudo;
            @include overlay;
            background-color: $black;
            opacity: 0;
            transition: opacity $transition;
        }

        .person-text {
            position: absolute;
            bottom: $padding-md;
            left: $padding-md;
            color: $white;
            opacity: 0;
            transition: opacity $transition;

            .name {
                font-weight: $semibold;
            }

            .position {
                text-transform: uppercase;
                font-size: $small-text;
            }
        }
    
        &:hover {
            &::before {
                opacity: 0.7;
            }
            
            .person-text {
                opacity: 1;
            }
        }
    }

    .partner {
        display: block;
        margin: $padding-md 0 $padding-lg;

        .logo {
            vertical-align: middle;
            max-width: 144px;
            max-height: 120px;
        }
    }
}