body.page-id-7 {
    .person {
        display: inline-block;
        margin-right: $padding-xl;
        margin-bottom: $padding-lg;

        .portrait {
            display: inline-block;
            vertical-align: middle;
            
            $portrait-size: 60px;
            min-width: $portrait-size;
            width: $portrait-size;
            min-height: $portrait-size;
            height: $portrait-size;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 100%;

            &.default {
                background-color: $blue;
                background-size: 75%;
            }
        }
    }

    .partner {
        display: block;
        margin: $padding-md 0 $padding-lg;

        .logo {
            vertical-align: middle;
            max-width: 144px;
            max-height: 120px;
        }
    }

    // shared between persons and partners
    .name {
        // font-weight: $semibold;
        margin-left: $padding-sm;
        vertical-align: middle;
    }
}