body.home {
  // MENU
  // hide "home"
  #menu-item-150 {
    display: none !important;
  }

  // SLIDESHOW
  // see components

  // SECTIONS
  section {
    float: left;
    width: 100%;
  }

  #about-communitas {
    position: relative;
    padding: 0;
    background: url('./static/home_newsprint.jpg');
    background-size: cover;
    color: $white;

    &::before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $blue;
      opacity: 0.8;
    }

    .hook {
      position: relative;
      font-size: $attention;
      text-align: center;
      margin: $padding-lg 0;
      padding: $padding-xl 120px;
      font-weight: $semibold;
      line-height: 1.2em;

      @media all and (max-width: $break-max) {
        padding: $padding-lg $padding-xl;
      }

      @media all and (max-width: $break-phone) {
        font-size: $headline;
      }
    }
  }

  #impact-news {
    padding: 0;

    ul {
      margin: 0 $padding-lg;
      text-align: left;
      list-style: none;

      li {
        margin-bottom: 1.2em;
      }

      b {
        color: $blue;
        font-size: 125%;
      }

      @media all and (max-width: $break-tablet) {
        padding: 0;
      }
    }

    .news {
      position: relative;
      border-left: 1px solid $blue;

      form {
        width: 100%;
      }

      @media all and (max-width: $break-max) {
        border-left: 0;
      }
    }
  }
}
