.home {

  // SLIDESHOW
  #slideshow {
    position: relative;

    .entry {
      position: absolute;
    }

    .caption {
      @extend %headline;
      position: absolute;
      right: 10%;
      bottom: 10%;
      max-width: 50%;
      text-align: right;
      line-height: 2em;

      padding: $padding-sm;
      background-color: $black;
      color: $white;
    }
  }
}
