.page {
    #main {
        position: relative;
    }

    .page-headline {
        position: relative;
        height: 480px;
        background-image: url('./static/home_newsprint.jpg');
        padding: $padding-lg;

        &::before {
            @include pseudo;
            @include overlay;
            background-color: $black;
            opacity: 0.8;
        }

        .headline {
            position: absolute;
            bottom: $padding-xl;
            left: $padding-lg;
            @include max-width;

            h2 {
                display: inline-block;
                font-size: $attention;
                color: $white;
                padding-bottom: $padding-lg;
                border-bottom: 4px solid $accent;

                @media all and (min-width: $break-max) {
                    margin-left: $padding-lg;
                }
            }
        }
    }

    section {
        position: relative;
        max-width: 1200px;
        padding: $padding-lg;

        h3, h4 {
            display: inline-block;
            border-bottom: 4px solid $accent;
            padding-bottom: $padding-md;
        }

        @include max-width();
    }
}